

@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300&display=swap');


h1 {
    font-family: 'Sacramento', cursive;
    font-weight: lighter;
    font-size: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 {
    justify-content: center;
    align-items: center;
    color: black;
    font-family: 'Dosis', sans-serif;
    display: flex;
    padding: 5px;
}

body::before {
    content: "";
    background: url('https://media3.giphy.com/media/5zheTUHRhWkiKylaZ9/giphy.gif?cid=ecf05e47j6y5dook4jhw05oxidfdqyscb9upm6wblk6m13de&ep=v1_gifs_search&rid=giphy.gif&ct=g') repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    opacity: 0.35;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    z-index: -1;   
}

body {
    background-color: white;
}


